[Dd]ebug*/
[Rr]elease*/
.metadata
*.pyc
*.sw?
emolog_protocol/example_user
emolog_protocol.dll
emolog/example_user.exe
RemoteSystemsTempFiles
tags
project
hello_world
uart_echo
*~
.launches
*/.launches
venv
.idea
.cache
*.so
emo*.csv
*.log
*.dump
*.pure
local_machine_config.ini
profile*.txt
*.launch
.ropeproject
driverlib
