.metadata
*.pyc
emolog/Release
emolog/Debug
*.sw?
emolog/example_user
emolog/emolog.dll
emolog/example_user.exe
RemoteSystemsTempFiles
tags
project
hello_world
protocol_embedded/Debug
emolog_embedded/Debug
uart_echo
*~
.launches
*/.launches
venv
.idea
.cache
*.so
*.csv
*.log
emotool.bat
*.dump
*.pure
