[Dd]ebug*/
[Rr]elease*/
.metadata
*.pyc
*.sw?
emolog/example_user
emolog/emolog.dll
emolog/example_user.exe
RemoteSystemsTempFiles
tags
project
hello_world
uart_echo
*~
.launches
*/.launches
venv
.idea
.cache
*.so
emo*.csv
*.log
*.dump
*.pure
emolog/outputs/
local_machine_config.ini
profile*.txt
